body {
    background:rgb(0, 0, 0);
    color: white;
    text-decoration:none;
   
    font-size:1em;

    
    }

.container{
    text-align: center;
    height:100%;
    margin-top: 10%;
}

button{
    color:black;
    border: solid 1px rgba(0, 128, 0, 0.788);
    text-decoration:none;
    cursor:pointer;
    border-radius: 50%;
    font-size:1.2em;
    padding:40px 30px;
    margin: 10px;
    color:rgb(121, 255, 143);
    background-color: rgba(0, 128, 0, 0.788);
    outline: none;

    
}

   

select{
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
    height:100%;
    width: 80px;
    text-align: center;
    font-size: 1rem;
    display: inline-block;
    
}

h2{
display: inline-block;
margin: 65px 0px 0px 40px;
font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
font-weight: 10;
color:rgba(255, 166, 0, 0.904);
}
